/* Global Reset */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9; /* Light gray background for a fresh look */
    color: #333;
}
/* Header Styles */
header {
    background-color: #4caf50; /* Fresh green background */
    padding: 15px 30px; /* Ample padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.logo img {
    width: 100px;
}

/* Menu Styles */
.menu nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0px;
    justify-content: center; /* Center the menu items */
}

.menu nav ul li {
    margin: 0;
    position: relative; /* Needed for dropdown */
}

.menu nav ul li a {
    color: white;
    font-size: 18px; /* Slightly larger text */
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px 15px; /* Add padding for better touch area */
}

.menu nav ul li a:hover {
    color: #c8e6c9; /* Light green on hover */
}

.logout-btn {
    background-color: #dc3545; /* Red for logout */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Welcome Section */
.welcome {
    text-align: center;
    margin: 20px 0;
}

/* Form Styles */
.date_form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Soft shadow */
    padding: 10px;
    margin-bottom: 30px;
}

label {
    margin: 5px 0;
}

input[type="date"], button {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff; /* Blue button */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker on hover */
}

/* Error Message */
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Report Summary and Tables */
.report-summary, .sold-products, .total-products-sold {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #82cc93; /* Header background */
}
